span{
    background-color: rgb(113, 237, 56);
    color: rgb(95, 54, 243);
}
h3{
    background-color: aquamarine;
    color: rgb(2, 2, 38);
}
h1 {
    color: rgb(91, 42, 165);
}
body{
    background-color: black;
}